:root {
  /* Background Colors */
  --background-color: 17, 36, 51;
  --presentation-bg-color: 0, 12, 24;

  /* Text Colors */
  --text: 19, 106, 128;
  --text-comment: 56, 72, 106;
  --text-comment-emphasis: 34, 85, 136;
  --text-var: 87, 136, 180;
  --text-symbol: 34, 85, 136;
  --text-string: 34, 170, 49;
  --text-functions: 221, 187, 107;
  --text-brackets: 255, 199, 16;

  /* Set fonts */
  font-family: ExoS, 'PT Sans', Calibri, Tahoma, sans-serif;
  color: rgba(var(--text), 1);
}

body {
  margin: 0;
  background-color: rgb(var(--background-color));
}

.text-color {
  color: rgb(var(--text));
}
.text-comment-color {
  color: rgb(var(--text-comment));
}
.text-comment-emphasis-color {
  color: rgb(var(--text-comment-emphasis));
}
.text-var-color {
  color: rgb(var(--text-var));
}
.text-symbol-color {
  color: rgb(var(--text-symbol));
}
.text-string-color {
  color: rgb(var(--text-string));
}
.text-functions-color {
  color: rgb(var(--text-functions));
}
.text-brackets-color {
  color: rgb(var(--text-brackets));
}

@font-face {
  font-family: 'ExoS';
  src: url('assets/fonts/exo_space.ttf');
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
